[Unit]
Description = Backend Service

[Service]
User=Expense
Environment=DB_HOST="db.fortunechits.online"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target